<% @collections.each do |collection| %>
  <%= link_to collection_path(collection) do %>
    <div class="collections">
      <h3 class="collection-name"><%= collection.name %></h3>
      <p><%= collection.description %></p>
      <div class="box-info">
        <p class="box-count"><%= collection.boxes.size %> boxes inside</p> <%# is this how to get the boxes??? %>
        <%# placeholder for the user avatar: %>
        <i class="fas fa-user"></i>
        <%# how to get the user avatar? %>
        <%# <%= collection.user.avatar.attached? ? cl_image_tag(collection.user.avatar.key, class: "avatar-square") : cl_image_tag("f3bv88cl12x3bjrtbkwdjzb6hz6t", class: "avatar-square") %>
      </div>
    </div>
  <% end %>
<% end %>
