<h1>Create a new collection</h1>

  <p>A collection can be anything to group your boxes. Be it a place where you store them or an event like a vacation or a move.</p>

  <div class="container">
    <%= simple_form_for [ @collection] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "create", class: "button-main button" %>
      <%# button style needs to be defined! %>
    <%= link_to "Cancel", root_path, class: "button" %>
    <% end%>
  </div>
