<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <%= link_to root_path do %>
        <i class="fas fa-arrow-left m-1 p-1"></i>
      <% end %>
      <h2><%= @collection.name.capitalize %></h2>
    </div>
     <div>
      <%= link_to edit_collection_path(@collection) do %>
        <i class="fas fa-edit"></i>
      <% end %>
     </div>
  </div>
  <p><%= @collection.description %></p>
  <p>Owner: <span class="avatar"><%= @collection.owner.avatar.attached? ? cl_image_tag(@collection.owner.avatar.key, class: "avatar-pic") : "#{@collection.owner.first_name[0].capitalize}  #{@collection.owner.last_name[0].capitalize}" %></span></P>
  <p>Shared with</p>
    <div class="users">
      <ul class="d-flex list-unstyled">
        <% @collection.collaborators.each do |collaborator| %>
          <li class="mx-1">
              <span class="avatar">
                <%= collaborator.avatar.attached? ? cl_image_tag(collaborator.avatar.key, class: "avatar-pic") : "#{collaborator.first_name[0].capitalize}  #{collaborator.last_name[0].capitalize}" %>
              </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% @collection.boxes.each do |box| %>
    <%= link_to box_path(box) do %>
      <div class="box">
        <h3><%= box.name %></h3>
        <p><%#= box.description %></p>
        <p class="box-count"><%= box.items.size %> items inside</p>
            <%= link_to "show QRCODE", box_qrcode_path(box) %>

      </div>
    <% end %>
  <% end %>
  <%= link_to new_collection_box_path(@collection, @box) do %>
    <div class="add-new-box text-center">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
</div>
