<div class="container list-header">
  <div class="list-title">
    <h1><%= @collection.name.capitalize %></h1>
    <div>
     <div class="d-flex">
      <%= link_to edit_collection_path(@collection) do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <% if @collection.owner == current_user %>
        <% if @collection.boxes.any? %>
          <%= link_to "#" do %>
            <i class="ms-2 fas fa-trash-alt button-gray"></i>
          <% end %>
        <% else %>
          <%= link_to collection_path, method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
     </div>
    </div>
  </div>
  <p><%= @collection.description %></p>

  <p>Shared with</p>

    <div class="users">
      <ul class="d-flex list-unstyled">
        <% @collection.collaborators.each do |collaborator| %>
          <li class="mx-1">
              <span class="avatar">
                <%= collaborator.avatar.attached? ? cl_image_tag(collaborator.avatar.key, class: "avatar-pic") : "#{collaborator.first_name[0].capitalize}  #{collaborator.last_name[0].capitalize}" %>
              </span>

             <%= link_to user_collection_path(UserCollection.find_by(user: collaborator, collection: params[:id])), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
          </li>
      <% end %>
        <%= link_to new_collection_user_collection_path(@collection, @user_collection) do %>
          <i class="fas fa-plus  mx-1 avatar avatar-add"></i>

        <% end %>
    </ul>
  </div>
</div>
<div class="list">
  <h4>In this collection:</h4>
  <%= link_to new_collection_box_path(@collection, @box) do %>
    <div class="list-item add-new">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
  <% @collection.boxes.each do |box| %>
    <%= link_to box_path(box) do %>
      <div class="list-item">
        <h3><%= box.name %></h3>
        <p><%#= box.description %></p>
        <p><%= box.items.size %> items inside</p>
        <%= link_to box_qrcode_path(box) do %>
              <i class="fas fa-qrcode"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
