<div class="container list-header">
  <div class="list-title">
    <div class="d-flex align-items-center">
      <span class="material-symbols-outlined category-icon">widgets</span>
      <h1><%= @collection.name.capitalize %></h1>
    </div>
  </div>
  <p class='mb-3'><strong>About: </strong><%= @collection.description %></p>
  <p class='secondary-text-light'>Shared with:</p>
  <div class="users">
    <ul class="d-flex list-unstyled">
      <% unless @collection.owner == current_user %>
        <span class="avatar me-1">
          <%= @collection.owner.avatar.attached? ? cl_image_tag(@collection.owner.avatar.key, class: "avatar-pic") : "#{@collection.owner.first_name[0].capitalize}  #{@collection.owner.last_name[0].capitalize}" %>
        </span>
      <% end %>
      <% @collection.collaborators.each do |collaborator| %>
        <li class="mx-1">
          <span class="avatar">
            <%= collaborator.avatar.attached? ? cl_image_tag(collaborator.avatar.key, class: "avatar-pic") : "#{collaborator.first_name[0].capitalize}  #{collaborator.last_name[0].capitalize}" %>
          </span>
          <%= link_to user_collection_path(UserCollection.find_by(user: collaborator, collection: params[:id])), class:"avatar avatar-remove", method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-minus"></i>
          <% end %>
        </li>
      <% end %>
      <%= link_to new_collection_user_collection_path(@collection, @user_collection) do %>
        <span class="material-symbols-outlined card-icon add-icon mx-1 avatar avatar-add" data-action="click->edit-resource#displayForm">add</span>
      <% end %>
    </ul>
  </div>
</div>
<div class="list">
  <h4>Boxes in this collection:</h4>
  <div data-controller="edit-resource">
    <div class="list-item add-new" data-edit-resource-target="infos">
      <span class="material-symbols-outlined card-icon add-icon" data-action="click->edit-resource#displayForm">add</span>
    </div>
    <%= simple_form_for [@collection, @box], html: { class: 'd-none list-item add-new', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name, label: "Box name", input_html: { required: true } %>
      <%= f.input :description, label: "Box description", input_html: { required: true, minlength: 8 } %>
      <%= f.submit "Create", class: "button-main button" %>
      <%= link_to "Cancel", collection_path(@collection), class: "button" %>
    <% end %>
    <% @collection.boxes.each_with_index do |box, index| %>
      <div class="list-container">
        <%= link_to box_path(box) do %>
          <div class="list-item" data-edit-resource-target="infos">
            <h3><%= box.name %></h3>
            <% if box.items.size > 1 %>
              <p class='secondary-text'><%= box.items.size %> items inside</p>
            <% elsif box.items.size == 1 %>
              <p class='secondary-text'><%= box.items.size %> item inside</p>
            <% else %>
              <p class='secondary-text'>Box is empty</p>
            <% end %>
          </div>
        <% end %>
        <div class="icons-container" data-edit-resource-target="icons">
          <%= link_to box_qrcode_path(box) do %>
            <span class="material-symbols-outlined card-icon me-1">qr_code_2</span>
          <% end %>
          <span class="material-symbols-outlined card-icon me-1" data-index='<%= index %>' data-action="click->edit-resource#displayForm">edit</span>
          <%= link_to box_path(box), method: :delete, data: { confirm: "Are you sure?" } do %>
            <span class="material-symbols-outlined card-icon">delete</span>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [ box ], html: { class: 'd-none list-item', data: { edit_resource_target: 'form' } } do |f| %>
        <%= f.input :name, label: "Box name", input_html: { required: true } %>
        <%= f.input :description, label: "Box description", input_html: { required: true, minlength: 8 } %>
        <%= f.submit "Update", class: "button-main button" %>
        <%= link_to "Cancel", collection_path(@collection), class: "button" %>
      <% end %>
    <% end %>
  </div>
</div>
