<div class="container">
  <div class="d-flex">
    <%= link_to root_path do %>
      <i class="fas fa-arrow-left m-1 p-1"></i>
    <% end %>
    <h2><%= @collection.name %></h2>
  </div>
  <p><%= @collection.description %></p>
  <p>Owner: <span class="bg-secondary rounded-circle p-2"><%= @collection.owner.first_name[0].capitalize %><%= @collection.owner.last_name[0].capitalize %></span></p>
  <p>Shared with</p>
    <div class="users">
      <ul class="d-flex list-unstyled">
        <% @collection.collaborators.each do |collaborator| %>
          <li class="mx-1">
            <span class="bg-secondary rounded-circle p-2"><%= collaborator.first_name[0].capitalize %><%= collaborator.last_name[0].capitalize %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <%# button for adding/deleting users %>
  <% @collection.boxes.each do |box| %>
    <%# wrong path(box_path)? %>
    <%= link_to box_path(box) do %>
      <div class="box">
        <h3><%= box.name %></h3>
        <p><%#= box.description %></p>
        <p class="box-count"><%= box.items.size %> items inside</p>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_collection_box_path(@collection, @box) do %>
    <div class="add-new-box text-center">
      <i class="fas fa-plus"></i>
    </div>
  <% end %>
</div>
