<div class="container list-header">
  <div class="list-title">
    <div class="d-flex align-items-center">
      <span class="material-symbols-outlined category-icon">widgets</span>
      <h1><%= @collection.name.capitalize %></h1>
    </div>
  </div>
  <p><%= @collection.description %></p>

  <p>shared with</p>

  <div class="users">
    <ul class="d-flex list-unstyled">
      <% unless @collection.owner == current_user %>
        <span class="avatar me-1">
          <%= @collection.owner.avatar.attached? ? cl_image_tag(@collection.owner.avatar.key, class: "avatar-pic") : "#{@collection.owner.first_name[0].capitalize}  #{@collection.owner.last_name[0].capitalize}" %>
        </span>
      <% end %>
      <% @collection.collaborators.each do |collaborator| %>
        <li class="mx-1">
          <span class="avatar">
            <%= collaborator.avatar.attached? ? cl_image_tag(collaborator.avatar.key, class: "avatar-pic") : "#{collaborator.first_name[0].capitalize}  #{collaborator.last_name[0].capitalize}" %>
          </span>
          <%= link_to user_collection_path(UserCollection.find_by(user: collaborator, collection: params[:id])), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-minus avatar avatar-remove"></i>
          <% end %>
        </li>
      <% end %>
      <%= link_to new_collection_user_collection_path(@collection, @user_collection) do %>
        <i class="fas fa-plus  mx-1 avatar avatar-add"></i>
      <% end %>
    </ul>
  </div>
</div>

<div class="list">
  <h4>Boxes in this collection:</h4>
  <div data-controller="edit-resource">
    <div class="list-item add-new" data-edit-resource-target="infos">
      <i class="fas fa-plus" data-action="click->edit-resource#displayForm"></i>
    </div>
    <%= simple_form_for [@collection, @box], html: { class: 'd-none list-item add-new', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name, label: "Box name" %>
      <%= f.input :description, label: "Box description" %>
      <%= f.submit "Create", class: "button-main button" %>
      <%= link_to "Cancel", collection_path(@collection), class: "button" %>
    <% end %>
  </div>
  <% @collection.boxes.each do |box| %>
    <%= link_to box_path(box) do %>
      <div class="list-item">
        <div>
          <h3><%= box.name %></h3>
        </div>
        <div class="d-flex justify-content-between">
          <p><%= box.items.size %> items inside</p>
          <div class="d-flex justify-content-end">
            <%= link_to box_qrcode_path(box) do %>
              <span class="material-symbols-outlined card-icon me-1">qr_code_2</span>
            <% end %>
            <%= link_to edit_box_path(box) do %>
              <span class="material-symbols-outlined card-icon me-1">edit</span>
            <% end %>
            <%= link_to box_path, method: :delete, data: { confirm: "Are you sure?" } do %>
              <span class="material-symbols-outlined card-icon">delete</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
