<div class="container">
  <h2><%= @collection.name %></h2>
  <p><%= @collection.description %></p>
  <p>Shared with</p>
    <%# show the creator of the collection if it's not current_user %>
    <div class="users">
      <ul class="d-flex list-unstyled">
        <% @users.each do |user| %>
          <li class="mx-1">
            <span class="bg-secondary rounded-circle p-2"><%= user.first_name[0].capitalize %><%= user.last_name[0].capitalize %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <%# show all other users sharing that collection %>
    <%# button for adding/deleting users %>
  <% @collection.boxes.each do |box| %>
    <%# wrong path? %>
    <%= link_to box_path(box) do %>
      <div class="box">
        <h3><%= box.name %></h3>
        <p><%= box.description %></p>
        <p class="box-count"><%= box.items.size %> items inside</p>
      </div>
    <% end %>
  <% end %>
</div>
