  <div class="container">
    <h1>Update the box</h1>
    <%= simple_form_for [ @box ] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Update", class: "button-main button" %>
      <%= link_to "Cancel", box_path(@box), class: "button" %>
    <% end%>
  </div>
