<div class="container list-header" data-controller="edit-resource" >
  <div class="edit-resource" data-edit-resource-target="infos">
    <div class="list-title">
      <h1><%= @box.name.capitalize %></h1>
      <div>
        <i class="fas fa-edit" data-action="click->edit-resource#displayForm"></i>
          <%= link_to box_path, method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="ms-2 fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
      <p><%= @box.description %></p>
      <p>In collection:
      <%= link_to collection_path(@box.collection), class:"text-white text-decoration-underline" do %>
            <%=@box.collection.name %>
      <% end %>
      </p>
    </div>
    <%= simple_form_for [ @box ], html: { class: 'd-none', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Update", class: "button-main button" %>
      <%= link_to "Cancel", box_path(@box), class: "button" %>
    <% end%>
  </div>




<div class="list">
  <h4>In this box:</h4>
  <div data-controller="edit-resource">
          <div class="list-item add-new" data-edit-resource-target="infos">
            <i class="fas fa-plus" data-action="click->edit-resource#displayForm"></i>
          </div>
        <%= simple_form_for [@box, @item], html: { class: 'd-none add-new-box', data: { edit_resource_target: 'form' } } do |f| %>
          <%= f.input :name %>
          <%= f.submit "Create", class: "button-main button" %>
          <%= link_to "Cancel", box_path(@box), class: "button" %>
        <% end %>
      </div>
  <% @box.items.each do |item| %>
    <%= link_to edit_item_path(item) do %>
      <div class="list-item list-item-info">
        <h3 class="item-name"><%= item.name %></h3>
        <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>

</div>
