<div class="container list-header">
  <div class="list-title">
    <div class="d-flex align-items-center">
      <span class="material-symbols-outlined">inventory_2</span>
      <h1><%= @box.name.capitalize %></h1>
    </div>
  </div>

  <div>
    <p><%= @box.description %></p>
    <p>In collection:
    <%= link_to collection_path(@box.collection), class:"text-white text-decoration-underline" do %>
          <%=@box.collection.name %>
    <% end %>
    </p>
  </div>
</div>

<div class="list" >
  <h4>Items in this box:</h4>
  <div data-controller="edit-resource">
    <div class="list-item add-new" data-edit-resource-target="infos">
      <i class="fas fa-plus" data-action="click->edit-resource#displayForm"></i>
    </div>
    <%= simple_form_for [@box, @item], html: { class: 'list-item add-new d-none', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name, label: "Item name" %>
      <%= f.submit "Create", class: "button-main button" %>
      <%= link_to "Cancel", box_path(@box), class: "button" %>
    <% end %>
  </div>
  <% @box.items.each do |item| %>
    <div data-controller="edit-resource">
      <div class="list-item list-item-info" data-edit-resource-target="infos" data-action="click->edit-resource#displayForm">
        <h3 class="item-name"><%= item.name %></h3>
        <%= link_to item_path(item), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <%= simple_form_for [item], html: { class: 'list-item d-none', data: { edit_resource_target: 'form' } } do |f| %>
        <%= f.input :name %>
        <%= f.submit "Update", class:"button button-main" %>
        <%= link_to "Cancel", box_path(@box), class: "button" %>
      <% end %>
    </div>
  <% end %>

</div>
