<div class="container" data-controller="edit-resource">
  <div class="edit-resource" data-edit-resource-target="infos">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <%= link_to collection_path(@box.collection) do %>
          <i class="fas fa-arrow-left m-1 p-1"></i>
        <% end %>
        <h1><%= @box.name.capitalize %></h1>
      </div>
      <div>
        <i class="fas fa-edit" data-action="click->edit-resource#displayForm"></i>
        <%= link_to box_path, method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="ms-2 fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
    <p data-edit-resource-target="infos"><%= @box.description %></p>
  </div>
    <%= simple_form_for [ @box ], html: { class: 'd-none', data: { edit_resource_target: 'form' } } do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Update", class: "button-main button" %>
      <%= link_to "Cancel", box_path(@box), class: "button" %>
    <% end%>
    <div class="bg-light m-2 p-3 rounded-3">
      <h4>In this box:</h4>
      <% @box.items.each do |item| %>
        <div class="box">
          <h3><%= item.name %></h3>
          <%= link_to "delete", item_path(item), method: :delete, data: { confirm: "sure?" }%>
          <%= link_to "edit", edit_item_path(item) %>
        </div>
      <% end %>


      <div data-controller="new-resource">
          <div class="card add-new-box text-center" data-new-resource-target="infos">
            <i class="fas fa-plus" data-action="click->new-resource#displayForm"></i>
          </div>
        <%= simple_form_for [@box, @item], html: { class: 'd-none add-new-box', data: { new_resource_target: 'form' } } do |f| %>
          <%= f.input :name %>
          <%= f.submit "Create", class: "button-main button" %>
          <%= link_to "Cancel", box_path(@box), class: "button" %>
        <% end %>
      </div>
    </div>
</div>
