<% if user_signed_in? %>
<div class="container">
  <h1>my Dashboard</h1>
  <div class="bg-light m-2 p-3 rounded-3">
    <h4>Your collections:</h4>
    <div data-controller="new-resource">
      <div class="card add-new-box text-center" data-new-resource-target="infos">
        <i class="fas fa-plus" data-action="click->new-resource#displayForm"></i>
      </div>
      <%= simple_form_for [@collection] , html: { class: 'd-none add-new-box', data: { new_resource_target: 'form' } } do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit "Create", class: "button-main button" %>
        <%= link_to "Cancel", root_path, class: "button" %>
      <% end %>
    </div>

    <% @collections.each do |collection| %>
      <%= link_to collection_path(collection) do %>
        <div class="collections">
          <h3 class="collection-name"><%= collection.name %></h3>
          <div class="box-info">
            <p class="boxcount"><%= collection.boxes.count %> Boxes inside</p>
              <span class="avatar">
              <%= collection.owner.avatar.attached? ? cl_image_tag(collection.owner.avatar.key, class: "avatar-pic") : "#{collection.owner.first_name[0].capitalize}  #{collection.owner.last_name[0].capitalize}" %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%else%>

  <div class="first-image">

    <h1 class="first-line">BOX</h1>
    <h1 class="second-line">TAG</h1>
    <h2 class="subline">store it, find it.</h2>
    <div class="vertical-center">
      <%= button_tag class:"button button-main" do %>
        <% link_to "Sign Up", new_user_registration_path %>
      <% end %>

      <%= button_tag class:"ms-3 button" do %>
        <% link_to "Login", new_user_session_path %>
      <% end %>

  </div>

<%end%>
