<% if user_signed_in? %>
<div class="container">
  <h1>my Dashboard</h1>
  <div class="bg-light m-4 p-3 rounded-3">
    <h4>Your collections:</h4>
      <% @collections.each do |collection| %>
        <%= link_to collection_path(collection) do %>
          <div class="collections">
            <h3 class="collection-name"><%= collection.name %></h3>
            <div class="box-info">
              <p class="boxcount"><%= collection.boxes.count %> Boxes inside</p>
              <span class="bg-secondary rounded-circle p-2"><%= collection.owner.first_name[0].capitalize %><%= collection.owner.last_name[0].capitalize %></span>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>

<%else%>

  <div class="first-image">

    <h1 style=color:black;font-size:70px;font-weight:bold;text-align:center;padding:80px>BOX TAG</h1>
    <h2 style=color:white;text-align:center>store it, find it.</h2>
    <div class="vertical-center">
      <%= button_tag :class => "button button-main" do %>
        <% link_to "Sign Up", new_user_registration_path %>
      <% end %>

      <%= button_tag :class => "button button-main" do %>
        <% link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>

<%end%>
