<% if user_signed_in? %>
<div class="container">
  <h1>My Dashboard</h1>

<%# placeholder  %>

  <%= button_tag :class => "button button-main" do %>
    <%= t('done')%>
  <% end %>

  <%= button_tag :class => "button button-secondary" do %>
    <%= t('store it')%>
  <% end %>

  <div class="box">
    <h2 class="title">shoe box</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="box-info">
      <p class="boxcount">19 items inside</p>
      <i class="fas fa-user"></i>
    </div>
  </div>

  <div class="collections">
    <H3 class="collection-name">my storage room</H3>
      <div class="box-info">
        <p class="boxcount">19 Boxes inside</p>
        <i class="fas fa-user"></i>
      </div>
  </div>

  <a href="#" class="button button-third">delete</a>

</div>

<%else%>

  <div class="first-image">

    <h1 style=color:black;font-size:70px;font-weight:bold;text-align:center;padding:80px>BOX TAG</h1>
    <h2 style=color:white;text-align:center>store it, find it.</h2>
    <div class="vertical-center">
      <%= button_tag :class => "button button-main" do %>
        <% link_to "Sign Up", new_user_registration_path %>
      <% end %>

      <%= button_tag :class => "button button-main" do %>
        <% link_to "Login", new_user_session_path %>
      <% end %>
    </div>
  </div>

<%end%>
