<div class="container">
  <%= form_tag search_path, method: :get do %>
    <div class="d-flex">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find collections, boxes or items"
      %>
      <%= submit_tag "Search", class: "button-main" %>
    </div>
  <% end %>

  <div class="results-container">
    <hr>
    <% @all_results = @collection_results.size + @box_results.size + @item_results.size  %>
    <% if @all_results == 0 %>
      <p>No results found. Please try something else.</p>
    <% else %>
      <p>Results: <%= @all_results %></p>
    <% end %>
    <%# To Do: %>
    <%# add links with link_to and _path %>
    <%# for link grab the :id with .searchable.id %>
    <div class="result-chapter">
      <% if @collection_results.present? %>
        <h2>Collections (<%= @collection_results.size %>)</h2>
        <% @collection_results.each do |collection| %>
          <% link_to collection_path(collection.searchable) do %>
            <div class="result-card">
              <h3><%= collection.searchable.name %></h3>
              <p><%= collection.searchable.description %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="result-chapter">
      <% if @box_results.present? %>
        <h2>Boxes (<%= @box_results.size %>)</h2>
        <% @box_results.each do |box| %>
          <% link_to  %><div class="result-card">
            <h3><%= box.searchable.name %></h3>
            <p><%= box.searchable.description %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="result-chapter">
      <% if @item_results.present? %>
        <h2>Items (<%= @item_results.size %>)</h2>
        <% @item_results.each do |item| %>
          <div class="result-card">
            <h3><%= item.searchable.name %></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
