<div class="container">
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find collections, boxes or items"
    %>
    <%= submit_tag "Search", class: "button-main" %>
  <% end %>
  <% if @results.present? %>
    <p>Results: <%= @results.size %></p>
    <% @results.each do |result| %>
      <h3><%= result.searchable.name %></h3>
      <p><%= result.searchable.try(:description) %></p>
    <% end %>
  <% end %>
  <% if @results.empty? %>
      <p>No results found. Please try something else</p>
  <% end %>
</div>
