<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.boxtag.me" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="manifest" href="<%= asset_path '/manifest.json.erb' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <%end%>

    <%= render 'shared/flashes' %>
    <div class="d-flex flex-column min-vh-100">
      <div class="flex-grow-1">
        <%= yield %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= render 'shared/footer-navigation' %>
    <%end%>
  </body>
</html>
